@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #fff;
    font-family: "Mukta", sans-serif;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav p{
    font-size: 40px;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    color: rgb(126, 121, 121);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:rgb(126, 121, 121);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header img{
    height: 400px;
    border-radius: 50%;
}
.btn1{
    margin-top: 25px;
    display: inline-block;
    border: 1px solid rgb(67, 66, 66);
    color: #fff;
    border-radius: 8px;
    padding: 12px 50px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Mukta", sans-serif;
    width: fit-content;
    cursor: pointer;
}
.btn1:hover{
    background: rgb(77, 77, 77);
    color: #fff;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
    margin-top: 90px;
}
.left p{
    font-size: 2.5rem;
}
.left span{
    color: rgb(126, 121, 121);
}

/* Footer */
.copyright{
    /* width: 100%; */
    text-align: center;
    padding: 25px 0;
    background: rgb(93, 90, 90);
    color: #fff;
    margin-top: 30px;
    font-weight: 300;
    font-family: "Mukta", sans-serif;
}
.copyright i{
    color: red;
}
nav .fa-solid{
    display: none;
}
nav .fa-gear{
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    /* margin: 10px 20px; */
}

/* Media Query */


@media only screen and (max-width:600px){
    .header img{
        display: none;
    }
    nav p{
        font-size: 30px;
    }
    .left p{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 16%;
    }
    .btn1{
        font-size: 15px;
        padding: 10px 30px;
    }
    .copyright{
        margin-top: 45%;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    /* For hiding menu */
    nav ul{
        background-color: rgb(126, 121, 121);
        position: fixed;
        top: 0;
        /* -200px bcz to hide the menu and adding JS code for clicking
        the menu */
        right: -200px; 
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul li a{
        font-size: 19px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .copyright{
        font-size: 0.8rem;
    }
}